{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'Mypage/mypage_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block title %}
	{{ 'front.mypage.nav__history_detail'|trans }}
{% endblock %}

{% block javascript %}

{% endblock %}

{# TODO：後でコントローラからとれるのに変える #}
{% set farmer_name = '●●生産者' %}
{% set delivery_fee = 100 %}
{% set point = 10 %}
{% set tracking_number = '1234-5678-9012' %}
{% set tracking_link = 'http://jizen.kuronekoyamato.co.jp/jizen/servlet/crjz.b.NQ0010?id=1234-5678-9012' %}
{% set total_point = 10 %}
{% set get_point = 100 %}

{% set farmer_image = asset(''|no_image_product, 'save_image') %}
{% set user_chat_image = asset(''|no_image_product, 'save_image') %}

{% block content %}
	{% set remessage = false %}
	<div class="ec-orderRole">
		<div class="ec-orderRole__detail">
			<div class="ec-orderOrder">
				<div class="ec-definitions">
					<dt>{{ 'front.mypage.order_date'|trans }}</dt>
					<dd>{{ Order.create_date|date_sec }}</dd>
				</div>
				<div class="ec-definitions">
					<dt>{{ 'front.mypage.order_no'|trans }}</dt>
					<dd>{{ Order.order_no }}</dd>
				</div>
				{% if BaseInfo.option_mypage_order_status_display %}
					<div class="ec-definitions">
						<dt>{{ 'front.mypage.order_status'|trans }}</dt>
						<dd>{{ Order.CustomerOrderStatus }}</dd>
					</div>
				{% endif %}
				{% if BaseInfo.isOptionPoint %}
					<div class="ec-definitions">
						<dt>{{ 'front.mypage.use_point'|trans }}</dt>
						<dd>{{ Order.usePoint|number_format }}
							pt</dd>
					</div>
					<div class="ec-definitions">
						<dt>{{ 'front.mypage.add_point'|trans }}</dt>
						<dd>{{ Order.addPoint|number_format }}
							pt</dd>
					</div>
				{% endif %}

			</div>
			<div class="ec-orderDelivery">
				<div class="ec-rectHeading">
					<h2>{{ 'front.mypage.delivery_info'|trans }}</h2>
				</div>
				{% for Shipping in Order.Shippings %}
					<div class="ec-orderDelivery__title">{{ 'front.mypage.delivery_date'|trans }}
						{% if Order.multiple %}({{ loop.index }})
						{% endif %}
					</div>
					{% for orderItem in Shipping.productOrderItems %}
						<div class="ec-orderDelivery__item">
							<div class="ec-imageGrid">
								<div class="ec-imageGrid__img">
									{% if orderItem.product is null %}
										<img src="{{ asset(''|no_image_product, 'save_image') }}"/>
									{% else %}
										<img src="{{ asset(orderItem.Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"/>
									{% endif %}
								</div>
								<div class="ec-imageGrid__content">
									<a href="{{ url('mypage_change') }}">{{ farmer_name |trans }}</a>
									<p>
										{% if orderItem.Product is not null and orderItem.Product.Status.id == constant('Eccube\\Entity\\Master\\ProductStatus::DISPLAY_SHOW') %}
											<a href="{{ url('product_detail', {'id': orderItem.Product.id}) }}">{{ orderItem.productName }}</a>
										{% else %}
											{{ orderItem.productName }}
										{% endif %}
										×{{ orderItem.quantity }}
										{{ is_reduced_tax_rate(orderItem) ? 'common.reduced_tax_rate_symbol'|trans }}
									</p>
									{% if orderItem.ProductClass is not null %}
										{% if orderItem.ProductClass.ClassCategory1 is not null %}
											{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}
										{% endif %}
										{% if orderItem.ProductClass.ClassCategory2 %}
											<br>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}
										{% endif %}
									{% endif %}
									<p>{{ orderItem.price_inc_tax|price }}
										×
										{{ orderItem.quantity|number_format }}</p>
									{% if orderItem.product and orderItem.price_inc_tax != orderItem.productClass.price02IncTax %}
										<p class="ec-color-accent">
											{{ 'front.mypage.current_price'|trans }}{{ orderItem.productClass.price02IncTax|price }}</p>
										{% set remessage = true %}
									{% endif %}
									<P>{{'common.delivery_fee.detail'|trans({ '%delivery_fee%': delivery_fee|price })}}</P>
								</div>
							</div>
							<div class="ec-historyActions">
								{% set id = orderItem.getId()  %}
								{% if stockOrder %}
									<a href="{{ url('mypage_order', {'order_no': Order.order_no }) }}" class="ec-reOrderBtn" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">{{ 'front.mypage.reorder'|trans }}</a>
								{% endif %}
								<a class="ec-inlineBtn" href="{{ url('mypage_contact_farmer', {'order_no': Order.order_no, 'order_item_id': id })}}">{{ 'front.mypage.farmer.contact_to'|trans }}</a>
								<a class="ec-inlineBtn" href="{{ url('mypage_review_new') }}">{{ 'front.mypage.review.write_review'|trans }}</a>
							</div>
						</div>
					{% endfor %}
					<p>{{ 'common.reduced_tax_rate_messeage'|trans }}</p>
					<div class="ec-orderDelivery__address">
						<p>{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;
							                        ({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }})</p>
						<p>{{ 'common.postal_symbol'|trans }}{{ Shipping.postal_code }}
							{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</p>
						<p>{{ Shipping.phone_number }}</p>
					</div>
					<div class="ec-definitions--soft">
						<dt>{{ 'front.mypage.delivery_provider'|trans }}
							:</dt>
						<dd>{{ Shipping.shipping_delivery_name }}</dd>
					</div>
					<div class="ec-definitions--soft">
						<dt>{{ 'front.mypage.delivery_date'|trans }}
							:</dt>
						<dd>{{ Shipping.shipping_delivery_date|date_day_with_weekday|default('指定なし'|trans) }}</dd>
					</div>
					<div class="ec-definitions--soft">
						<dt>{{ 'front.mypage.delivery_time'|trans }}
							:</dt>
						<dd>{{ Shipping.shipping_delivery_time|default('common.select__unspecified'|trans) }}</dd>
					</div>
					<div class="ec-definitions--soft">
						<dt>{{ 'front.mypage.tracking_number'|trans }}
							:</dt>
						<dd>
							{{ tracking_number|default('front.mypage.message_not_found'|trans) }}
							<a href="{{tracking_link}}" target="_blank">{{'front.mypage.delivery_status'|trans}}</a>
						</dd>
					</div>
				{% endfor %}
			</div>
			<div class="ec-orderPayment">
				<div class="ec-rectHeading">
					<h2>{{ 'front.mypage.payment_info'|trans }}</h2>
				</div>
				<p>{{ 'front.mypage.credit_card'|trans }}
					:
					{{ Order.PaymentMethod }}</p>
			</div>
			<div class="ec-orderConfirm">
				<div class="ec-rectHeading">
					<h2>{{ 'front.mypage.request_etc'|trans }}</h2>
				</div>
				<p>{{ Order.message|default('front.mypage.message_not_found'|trans)|nl2br }}</p>
			</div>
		</div>
		<div class="ec-orderRole__summary">
			<div class="ec-totalBox">
				<dl class="ec-totalBox__spec">
					<dt>{{ 'common.subtotal'|trans }}</dt>
					<dd>{{ Order.subtotal|price }}</dd>
				</dl>
				<dl class="ec-totalBox__spec">
					<dt>{{ 'common.delivery_fee'|trans }}</dt>
					<dd>{{ Order.delivery_fee_total|price }}</dd>
				</dl>
				{% if Order.taxable_discount < 0 %}
					<dl class="ec-totalBox__spec">
						<dt>{{ 'common.discount'|trans }}</dt>
						<dd>{{ Order.taxable_discount|price }}</dd>
					</dl>
				{% endif %}
				<div class="ec-totalBox__total">
                    {{ 'common.total'|trans }}<span class="ec-totalBox__price">{{ Order.taxable_total|price }}</span>
					<span class="ec-totalBox__taxLabel">{{ 'common.tax_include'|trans }}</span>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ 'common.point.use'|trans }}</dt>
                        <dd class="ec-totalBox__price">{{ total_point|price }}</dd>
                    </dl>
				</div>
				{% for rate, total in Order.taxable_total_by_tax_rate %}
					<dl class="ec-totalBox__taxRate">
						<dt>{{ 'common.tax_rate_target'|trans({ '%rate%': rate }) }}</dt>
						<dd>{{ total|price }}</dd>
					</dl>
				{% endfor %}
				{% for item in Order.tax_free_discount_items %}
					{% if loop.first %}
						<div class="ec-totalBox__total"></div>
					{% endif %}
					<dl class="ec-totalBox__spec">
						<dt>{{ item.product_name }}</dt>
						<dd>{{ item.total_price|price }}</dd>
					</dl>
				{% endfor %}
				<div class="ec-totalBox__paymentTotal">{{ 'common.total'|trans }}<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span>
					<span class="ec-totalBox__taxLabel">{{ 'common.tax_include'|trans }}</span>
				</div>
			</div>
			{% if remessage %}
				<p class="ec-color-accent">
					<strong>{{ 'front.mypage.reorder_message'|trans }}</strong>
				</p>
			{% endif %}
		</div>
	</div>
	<div class="ec-role">
		<a href="{{ url('mypage') }}" class="ec-inlineBtn">{{ 'common.back'|trans }}</a>
	</div>
{% endblock %}
